{% extends "layout.html" %}

{% block title %}
    Adauga categorie
{% endblock %}

{% block main %}
    <div>
        <nav class="bg-light navbar navbar-expand-md navbar-light" style="background-color: #e3f2fd;">
            <ul class="navbar-nav me-auto mt-2">
                <li class="nav-item"><a href="/catalog"><button class="btn btn-primary">Back</button></a></li>
            </ul>
        </nav>
    </div>
    <br>
    <form action="/categorie" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="categorie" placeholder="Categorie" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Adauga</button>
    </form>
{% endblock %}