{% extends "layout.html" %}

{% block title %}
    Clienti
{% endblock %}

{% block main %}

<div>
    <nav class="bg-light navbar navbar-expand-md navbar-light" style="background-color: #e3f2fd;">
        <ul class="navbar-nav me-auto mt-2">
            <li class="nav-item"><a href="/adauga_client"><button class="btn btn-outline-dark">Adauga Client</button></a></li>
            <li class="nav-item"><a href="/sterge_client"><button class="btn btn-outline-dark">Sterge Client</button></a></li>
        </ul>
    </nav>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Nume Client</th>
            <th>Numar de telefon</th>
            <th>Adresa de mail</th>
            <th>Sex</th>
            <th>Creat</th>
            <th>Observatii</th>
        </tr>
    </thead>
   <tbody>
        {% for client in clients %}
                <tr>
                    <td>{{ client.nume }}</td>
                    <td>{{ client.telefon }}</td>
                    <td>{{ client.mail }}</td>
                    <td>{{ client.sex }}</td>
                    <td>{{ client.creat }}</td>
                    <td>{{ client.observatii }}</td>
                </tr>
        {% endfor %}
    </tbody>

</table>


{% endblock %}