{% extends "layout.html" %}

{% block title %}
    Programari
{% endblock %}

{% block main %}

<div>
    <nav action="/programari" class="bg-light navbar navbar-expand-md navbar-light" style="background-color: #e3f2fd;" method="post">
        <ul class="navbar-nav me-auto mt-2">
            <li class="nav-item"><a href="/categorie"><button class="btn btn-outline-dark">Adauga categorie noua</button></a></li>
            <li class="nav-item"><a href="/servicii"><button class="btn btn-outline-dark">Adauga serviciu nou</button></a></li>
            <li class="nav-item"><a href="/servicii"><button class="btn btn-outline-dark">Modifica serviciu</button></a></li>
            <li class="nav-item"><a href="/sterge_serviciu"><button class="btn btn-outline-dark">Sterge serviciu</button></a></li>
        </ul>
    </nav>
</div>

<br>

<div>
    <table action="/programari" class="table table-hover">
        <thead>
            <tr>
                <th>Categorie</th>
                <th>Serviciu</th>
                <th>Durata</th>
                <th>Pret</th>
            </tr>
        </thead>
       <tbody>
            {% for serviciu in catalog %}
                <tr>
                    <td>{{ serviciu.categorie }}</td>
                    <td>{{ serviciu.serviciu }}</td>
                    <td>{{ serviciu.durata }} min</td>
                    <td>{{ serviciu.pret }} RON</td>
                </tr>
            {% endfor %}

        </tbody>
    </table>



</div>







{% endblock %}