{% extends "layout.html" %}

{% block title %}
    Adauga servicii
{% endblock %}

{% block main %}
    <div>
        <nav class="bg-light navbar navbar-expand-md navbar-light" style="background-color: #e3f2fd;">
            <ul class="navbar-nav me-auto mt-2">
                <li class="nav-item"><a href="/catalog"><button class="btn btn-primary">Back</button></a></li>
                <li class="nav-item"><a href="/categorie"><button class="btn btn-outline-dark">Adauga Categorie</button></a></li>
            </ul>
        </nav>
    </div>
    <br>
    <form action="/servicii" method="post">
        <div class="mb-3">
            <select name="categorie" class="form-select mx-auto w-auto" aria-label="Default select example">
                <option disabled selected>Categorie</option>
                    {% for categorie in categorii %}
                        <option value="{{ categorie.nume_categorie }}">{{ categorie.nume_categorie }}</option>
                    {% endfor%}
            </select>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="serviciu" placeholder="Serviciu" type="text">
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="durata" placeholder="Durata (minute)" type="number" min = 1>
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="pret" placeholder="Pret" type="number">
        </div>
        <button class="btn btn-primary" type="submit">Adauga</button>
    </form>
{% endblock %}